h1 {
  color: #294860;
  text-align: center;
  font-family: Arial Black;
  margin: 10px;
}
body {
  background-color: white;
  text-align: center;
  margin: 100px;
}
.Title{
  margin: 90px;
  font-family: Arial Black;
  font-size: 45px;
  color: #294860;
}
.lesson {
  background-color: pink;
  border-radius: 20px;
  padding: 10px;
}
.lesson-content {
  background-color: white;
  padding: 4px;
  margin: 10px;
  border-radius: 4px;
}

.lesson {
  font-family: Arial
}


